* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
}

.nav-links {
    color: #5F6368;
}

.dots {
    width: 38px;
    border-radius: 50%;
    padding: 6px;
    fill: #5F6368;
}

.dots:hover {
    background-color: #F8F9FA;
}

.user {
    border-radius: 50%;
}

.main {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.google-img-box {
    padding: 0px 80px;
    max-width: 400px;
    margin: auto;
}

.google-img {
    width: 100%;
}

.search-box {
    padding: 0 20px;
}

.search-input-box {
    margin: 25px auto;
    max-width: 550px;
    position: relative;
}

.search-input {
    border-radius: 40px;
    padding: 15px 50px;
    width: 100%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    position: relative;
    outline: none;
}

.search-input:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
    border: none;
}

.pos-left {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    transform: translateY(-45%);
}

.pos-left svg {
    fill: #6F6F99;
}

.pos-right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-45%);
    width: 20px;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 15px;
}

.links span:first-of-type {
    margin-right: 5px;
}

.links span {
    margin-bottom: 10px;
    font-size: 13px;
}

.btn-box {
    margin-bottom: 25px;
}

.btn:first-of-type {
    margin-right: 8px;
}

.btn {
    border: none;
    padding: 10px 15px;
    background-color: #F8F9FA;
    color: #202124;
}

.lang-links {
    padding: 2px 5px;
    font-size: 13px;
    color: #1a0dab;
}

.nav-links {
    padding: 2px 8px;
}

.footer {
    background-color: #F2F2F2;
    color: #6F6F99;
}

.footer-top {
    border-bottom: 1px solid #DADCE0;
}

.container,
.country {
    max-width: 1000px;
    padding: 15px;
    margin: auto;
}

.footer-bottom {
    text-align: center;
}

.neutral {
    margin-bottom: 10px;
}

.leaf-img {
    height: 14px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.footer-links {
    padding: 5px 12px;
    color: inherit;
    font-size: 14px;
}

@media (max-width: 576px) {
    .links-container {
        justify-content: center;
    }

}